.single-dump-container {
  width: 60%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: -1px 1px 11px 0px rgba(0, 0, 0, 0.75);
}

.single-dump-info {
  margin: 15px 0px;
}

.single-dump-info ul {
  list-style: none;
  display: flex;
}

.single-dump-info ul li {
  padding-right: 15px;
}
