.navbar {
  display: flex;
  height: 50px;
  background: aliceblue;
  align-items: center;
}

.item1 {
  flex: 8;
  font-weight: bold;
  padding-left: 30px;
}

.item-heading {
  flex: 8;
  font-size: 25px;
  font-weight: bold;
  color: #1b98f5;
}

.item2,
.item3 {
  flex: 1;
  padding-right: 15px;
}
